In [1]:
import json
import urllib.request
url = 'https://data.sanantonio.gov/api/3/action/datastore_search?resource_id=c21106f9-3ef5-4f3a-8604-f992b4db7512&limit=5&q=title:jones'  
fileobj = urllib.request.urlopen(url)
response_dict = json.loads(fileobj.read())
print(response_dict)

{'help': 'https://data.sanantonio.gov/api/3/action/help_show?name=datastore_search', 'success': True, 'result': {'include_total': True, 'resource_id': 'c21106f9-3ef5-4f3a-8604-f992b4db7512', 'fields': [{'type': 'int', 'id': '_id'}, {'type': 'text', 'id': 'PERMIT TYPE'}, {'type': 'text', 'id': 'PERMIT #'}, {'type': 'text', 'id': 'PERMIT NAME'}, {'type': 'text', 'id': 'WORK TYPE'}, {'type': 'text', 'id': 'ADDRESS'}, {'type': 'text', 'id': 'LOCATION'}, {'type': 'text', 'id': 'X_COORD'}, {'type': 'text', 'id': 'Y_COORD'}, {'type': 'text', 'id': 'DATE SUBMITTED'}, {'type': 'text', 'id': 'DATE ISSUED'}, {'type': 'text', 'id': 'DECLARED VALUATION'}, {'type': 'text', 'id': 'AREA (SF)'}, {'type': 'text', 'id': 'PRIMARY CONTACT'}, {'type': 'text', 'id': 'CD'}, {'type': 'text', 'id': 'NCD'}, {'type': 'text', 'id': 'HD'}, {'type': 'float', 'id': 'rank'}], 'records_format': 'objects', 'q': 'title:jones', 'records': [], 'limit': 5, '_links': {'start': '/api/3/action/datastore_search?q=title%3Ajones&limit=5&resource_id=c21106f9-3ef5-4f3a-8604-f992b4db7512', 'next': '/api/3/action/datastore_search?q=title%3Ajones&offset=5&limit=5&resource_id=c21106f9-3ef5-4f3a-8604-f992b4db7512'}, 'total': 0}}

In [2]:
import pandas as pd

In [3]:
housing_inventory = pd.read_stata('data/116215-V1/housing_inventory/clean_combined.dta')

In [19]:
housing_inventory

,year,median_rent,housing_units,net_new_housing,employment,total_wages,cpi,adj_median_rent
0,1906,NaN,84077.0,8444.0,NaN,NaN,NaN,NaN
1,1907,NaN,100342.0,16265.0,NaN,NaN,NaN,NaN
2,1908,NaN,111220.0,10878.0,NaN,NaN,NaN,NaN
3,1909,NaN,117465.0,6245.0,NaN,NaN,NaN,NaN
4,1910,NaN,125112.0,7647.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
106,2012,2700.0,374123.0,1317.0,586538.0,4.894797e+10,2.26229,1193.480957
107,2013,3100.0,376083.0,1960.0,611717.0,5.247771e+10,2.29324,1351.799194
108,2014,3300.0,379597.0,3514.0,640378.0,5.883602e+10,2.32771,1417.702393
109,2015,3500.0,NaN,150.0,NaN,NaN,2.31810,1509.857178
110,2016,3650.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
census_df = pd.read_stata('data/116215-V1/census/usa_00012.dta')

In [21]:
more_data_df = pd.read_stata('data/116215-V1/census/ltdb_std_all_2010_adjusted.dta')

In [22]:
more_data_df

,tractid,year,state_c,county_c,tract_c,mrent,nom_mrent,hinc,pcol,mhmval,incpc,pown,p60up,phisp,phs,punemp,ppov,pvac,pmulti,p10yrs,rent,hh,ag25up,ag15up,ohu,pop,clf,dpov,hu,dmulti,ohusp,pren
0,1.001020e+09,1980,AL,Autauga County,Census Tract 201,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.011995,NaN,NaN,NaN,0.080645,0.000000,NaN,NaN,NaN,NaN,NaN,512.993225,1583.979126,NaN,NaN,557.992615,555.992676,NaN,NaN
1,1.001020e+09,1981,AL,Autauga County,Census Tract 201,NaN,NaN,NaN,NaN,NaN,1934.493945,NaN,0.013085,0.012149,NaN,NaN,NaN,0.079436,0.000000,NaN,NaN,NaN,NaN,NaN,524.193079,1602.878870,NaN,NaN,569.292468,570.192487,NaN,NaN
2,1.001020e+09,1982,AL,Autauga County,Census Tract 201,NaN,NaN,NaN,NaN,NaN,3868.987891,NaN,0.026170,0.012303,NaN,NaN,NaN,0.078227,0.000000,NaN,NaN,NaN,NaN,NaN,535.392932,1621.778613,NaN,NaN,580.592322,584.392297,NaN,NaN
3,1.001020e+09,1983,AL,Autauga County,Census Tract 201,NaN,NaN,NaN,NaN,NaN,5803.481836,NaN,0.039256,0.012457,NaN,NaN,NaN,0.077018,0.000000,NaN,NaN,NaN,NaN,NaN,546.592786,1640.678357,NaN,NaN,591.892175,598.592108,NaN,NaN
4,1.001020e+09,1984,AL,Autauga County,Census Tract 201,NaN,NaN,NaN,NaN,NaN,7737.975781,NaN,0.052341,0.012612,NaN,NaN,NaN,0.075809,0.000000,NaN,NaN,NaN,NaN,NaN,557.792639,1659.578101,NaN,NaN,603.192029,612.791919,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2737292,7.215375e+10,2012,PR,Yauco Municipio,Census Tract 7506.02,273.926589,289.624747,9206.874877,0.149562,63793.641820,5069.480326,0.792697,0.278849,0.987144,0.717184,0.340474,0.666054,0.397445,0.005678,0.115430,NaN,NaN,2514.0,NaN,849.000000,3267.000000,887.0,3267.0,1409.000000,1409.000000,NaN,0.207303
2737293,7.215375e+10,2013,PR,Yauco Municipio,Census Tract 7506.02,291.676683,312.611121,7340.837544,0.133683,64427.318062,4436.070066,0.822469,0.321780,0.993068,0.738751,0.201288,0.767603,0.483894,0.005011,0.128988,NaN,NaN,2289.0,NaN,721.000000,2741.000000,621.0,2741.0,1397.000000,1397.000000,NaN,0.177531
2737294,7.215375e+10,2014,PR,Yauco Municipio,Census Tract 7506.02,291.676683,312.611121,7340.837544,0.133683,64427.318062,4436.070066,0.822469,0.321780,0.993068,0.738751,0.201288,0.767603,0.483894,0.005011,0.128988,NaN,NaN,2289.0,NaN,721.000000,2741.000000,621.0,2741.0,1397.000000,1397.000000,NaN,0.177531
2737295,7.215375e+10,2015,PR,Yauco Municipio,Census Tract 7506.02,291.676683,312.611121,7340.837544,0.133683,64427.318062,4436.070066,0.822469,0.321780,0.993068,0.738751,0.201288,0.767603,0.483894,0.005011,0.128988,NaN,NaN,2289.0,NaN,721.000000,2741.000000,621.0,2741.0,1397.000000,1397.000000,NaN,0.177531
2737296,7.215375e+10,2016,PR,Yauco Municipio,Census Tract 7506.02,291.676683,312.611121,7340.837544,0.133683,64427.318062,4436.070066,0.822469,0.321780,0.993068,0.738751,0.201288,0.767603,0.483894,0.005011,0.128988,NaN,NaN,2289.0,NaN,721.000000,2741.000000,621.0,2741.0,1397.000000,1397.000000,NaN,0.177531

In [23]:
more_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2737297 entries, 0 to 2737296
Data columns (total 32 columns):
 #   Column     Dtype
---  ------     -----
 0   tractid    float64
 1   year       int16
 2   state_c    object
 3   county_c   object
 4   tract_c    object
 5   mrent      float64
 6   nom_mrent  float64
 7   hinc       float64
 8   pcol       float64
 9   mhmval     float64
 10  incpc      float64
 11  pown       float64
 12  p60up      float64
 13  phisp      float64
 14  phs        float64
 15  punemp     float64
 16  ppov       float64
 17  pvac       float64
 18  pmulti     float64
 19  p10yrs     float64
 20  rent       float64
 21  hh         float64
 22  ag25up     float64
 23  ag15up     float64
 24  ohu        float64
 25  pop        float64
 26  clf        float64
 27  dpov       float64
 28  hu         float64
 29  dmulti     float64
 30  ohusp      float64
 31  pren       float32
dtypes: float32(1), float64(27), int16(1), object(3)
memory usage: 663.1+ MB

In [18]:
pd.set_option('display.max_columns', None)
census_df.sample(5)

,year,datanum,serial,hhwt,cpi99,region,statefip,countyfips,metarea,metaread,met2013,city,puma,pumasupr,gq,ownershp,ownershpd,mortgage,rent,rentgrs,hhincome,valueh,rooms,builtyr,builtyr2,unitsstr,bedrooms,pernum,perwt,relate,related,sex,age,race,raced,hispan,hispand,bpl,bpld,citizen,racesing,racesingd,educ,educd,empstat,empstatd,ind,ind1990,wkswork1,wkswork2,uhrswork,inctot,incwage,incbus,incbus00,incfarm,trantime
20540145,2000,1,3516651,7,1.000,south atlantic division,south carolina,19,"charleston-n. charleston, sc","charleston-n. charleston, sc","charleston-north charleston, sc",not in identifiable city (or size group),2101,45700.0,other group quarters,n/a,n/a,n/a,0,0,9999999,9999999,n/a,n/a,n/a,n/a,n/a,1,7,other non-relatives,non-inmate 1990,male,18,white,white,not hispanic,not hispanic,michigan,michigan,n/a,white,white,1 year of college,"1 or more years of college credit, no degree",not in labor force,not in labor force,868,eating and drinking places,36.0,27-39 weeks,20,4000,4000,NaN,0.0,NaN,0
8476345,1990,1,3755202,19,1.344,middle atlantic division,new york,61,"new york, ny-northeastern nj","new york, ny-northeastern nj",NaN,"new york, ny",5110,NaN,households under 1970 definition,owned or being bought (loan),owned free and clear,n/a,0,0,70171,187500,4,51-60 years (51+ in 1990),NaN,20-49 family building,2,1,25,head/householder,head/householder,female,46,white,white,not hispanic,not hispanic,new york,new york,n/a,white,white,5+ years of college,master's degree,employed,at work,831,hospitals,52.0,50-52 weeks,37,53001,40001,0.0,NaN,0.0,17
14567952,2000,1,944271,29,1.000,middle atlantic division,new york,47,"new york, ny-northeastern nj","new york, ny-northeastern nj","new york-newark-jersey city, ny-nj-pa","new york, ny",4011,36123.0,households under 1970 definition,rented,with cash rent,n/a,590,679,19340,9999999,2,61+ years,1939 or earlier,50+ family building,1,1,29,head/householder,head/householder,female,35,black/african american/negro,black/african american/negro,not hispanic,not hispanic,west indies,haiti,naturalized citizen,black,black,grade 12,high school graduate or ged,not in labor force,not in labor force,817,"health services, n.e.c",52.0,50-52 weeks,30,16340,16200,NaN,0.0,NaN,0
16098966,2000,1,1623054,5,1.000,south atlantic division,virginia,0,not identifiable or not in an msa,not identifiable or not in an msa,"kingsport-bristol-bristol, tn-va",not in identifiable city (or size group),2600,51120.0,households under 1970 definition,owned or being bought (loan),owned with mortgage or loan,"yes, mortgaged/ deed of trust or similar debt",0,0,31540,75000,8,21-30 years,1970-1979,"1-family house, detached",4 (4+ in 1960),1,6,head/householder,head/householder,male,66,white,white,not hispanic,not hispanic,virginia,virginia,n/a,white,white,grade 11,grade 11,not in labor force,not in labor force,0,n/a (not applicable)â,0.0,n/a,n/a,14500,0,NaN,0.0,NaN,0
579169,1990,1,264605,23,1.344,pacific division,california,55,"san francisco-oakland-vallejo, ca","vallejo-fairfield-napa, ca",NaN,not in identifiable city (or size group),900,NaN,households under 1970 definition,owned or being bought (loan),owned with mortgage or loan,"yes, mortgaged/ deed of trust or similar debt",0,0,69000,225000,6,21-30 years,NaN,"1-family house, detached",3,3,21,"partner, friend, visitor",unmarried partner,male,44,white,white,not hispanic,not hispanic,georgia,georgia,n/a,white,white,5+ years of college,master's degree,employed,at work,901,"general government, n.e.c",52.0,50-52 weeks,45,52000,50000,0.0,NaN,0.0,5

In [8]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29644204 entries, 0 to 29644203
Data columns (total 57 columns):
 #   Column      Dtype
---  ------      -----
 0   year        category
 1   datanum     int8
 2   serial      int32
 3   hhwt        int16
 4   cpi99       float64
 5   region      category
 6   statefip    category
 7   countyfips  int16
 8   metarea     category
 9   metaread    category
 10  met2013     category
 11  city        category
 12  puma        int32
 13  pumasupr    float64
 14  gq          category
 15  ownershp    category
 16  ownershpd   category
 17  mortgage    category
 18  rent        int16
 19  rentgrs     int16
 20  hhincome    int32
 21  valueh      int32
 22  rooms       category
 23  builtyr     category
 24  builtyr2    category
 25  unitsstr    category
 26  bedrooms    category
 27  pernum      int8
 28  perwt       int16
 29  relate      category
 30  related     category
 31  sex         category
 32  age         category
 33  race        category
 34  raced       category
 35  hispan      category
 36  hispand     category
 37  bpl         category
 38  bpld        category
 39  citizen     category
 40  racesing    category
 41  racesingd   category
 42  educ        category
 43  educd       category
 44  empstat     category
 45  empstatd    category
 46  ind         int16
 47  ind1990     category
 48  wkswork1    float64
 49  wkswork2    category
 50  uhrswork    category
 51  inctot      int32
 52  incwage     int32
 53  incbus      float64
 54  incbus00    float64
 55  incfarm     float64
 56  trantime    int16
dtypes: category(36), float64(6), int16(7), int32(6), int8(2)
memory usage: 3.9 GB

## Update headers

In [33]:
ins_outs_df = pd.read_csv('data/censusdata/texas.csv',header=1,dtype=str)

In [34]:
ins_outs_df

,State Code of Geography A,FIPS County Code of Geography A,State/U.S. Island Area/Foreign Region Code of Geography B,FIPS County Code of Geography B,State Name of Geography A,County Name of Geography A,State/U.S. Island Area/Foreign Region of Geography B,County Name of Geography B,Flow from Geography B to Geography A,Unnamed: 9,Counterflow from Geography A to Geography B1,Unnamed: 11,Net Migration from Geography B to Geography A1,Unnamed: 13,Gross Migration between Geography A and Geography B1,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Estimate,MOE,Estimate,MOE,Estimate,MOE,Estimate,MOE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,048,001,001,089,Texas,Anderson County,Alabama,Madison County,13,20,0,28,13,20,13,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,048,001,002,016,Texas,Anderson County,Alaska,Aleutians West Census Area,0,31,7,9,-7,9,7,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,048,001,005,085,Texas,Anderson County,Arkansas,Lonoke County,0,31,9,14,-9,14,9,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,048,001,005,113,Texas,Anderson County,Arkansas,Polk County,0,31,3,5,-3,5,3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN